body {
    height: 100%;
    padding: 20px;
    margin: 20px;
    font-family: Khand, sans-serif;
    background: rgba(0, 0, 0, 0.9);
}

.map {
    padding: 10px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.95;
    background-color: rgba(255, 255, 255, 0.25);
    transition: .5s ease;
}

.overlay:hover {
    opacity: 0.35;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}


h1, h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

h3 {
    color: white;
    font-size: 3vw;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}


p {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

.title {
    font-size: 2vw;
}


.subtitle {
    font-size: 0.75vw;
}
